.home {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.new-home-box {
    position: relative;
    width: 95%;
    margin: 3%;
}

.new-home-style-image {
    background-image: url("../assets/images/home-content-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 719px;
    border-radius: 12px;
    display: block;
}

.new-home-style {
    background-color: #0052CC95;
    width: 100%;
    height: 719px;
}

.home-head-text {
    width: 100%;
    height: 142px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-head-text h1 {
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: var(--light);
    text-align: center;
    width: 50%;
}

.home-body-text {
    width: 100%;
    height: 142px;
    text-align: center;
    overflow-y: hidden;
    margin: 5px 0 30px 0;
}

.home-body-text p {
    font-family: myFont, sans-serif;
    color: var(--light);
    font-weight: 600;
    font-size: 28px;
    margin: 16px;
    padding: 16px;
}

.middle-images {
    width: 94%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 50px 3%;
    border: 0;
    gap: 30px;
}

.alhaji-img {
    background-image: url("../assets/images/Alhaji-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 810px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
}

.inside-alhaji-img {
    width: 304px;
    height: 226px;
    border: 1px solid #ffffffe0;
    border-radius: 12px;
    background-image: linear-gradient(
        to right, 
        rgba(124, 129, 138),
        rgb(197, 197, 197)
    );
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    position: absolute;
}

.inside-alhaji-img h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: var(--light);
}

.inside-alhaji-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.inside-alhaji-icons p{
    font-family: myFont;
    font-weight: 300;
    font-size: 24px;
    color: var(--light);
}

.small-blue-icon {
    width: 24px;
    height: 24px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-white-icon {
    width: 12px;
    height: 12px;
    background-color: var(--light);
    border-radius: 50%;
}

.small-white-icon-real {
    width: 12px;
    height: 12px;
    background-color: var(--light);
    border-radius: 50%;
}

.office-images {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    height: 810px;
}

.office-two-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* .office-five-img {
    background-image: url("../assets/images/ofiice-five-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 544px;
    height: 419px;
    border-radius: 12px;
} */

.office-three-img {
    background-image: url("../assets/images/Office-three-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 810px;
    border-radius: 12px;
}


/* The Content Styling */
.the-content-part-org {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 50px;
    width: 100%;
    margin-top: 50px;
}

.the-content-part-org-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 50px;
    width: 100%;
    margin-top: 50px;
}

.pray-military-img {
    background-image: url("../assets/images/pray-military.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 390px;
    border-radius: 12px;
}

.pray-sanctuary-img {
    background-image: url("../assets/images/pray-santury.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 390px;
    border-radius: 12px;
}

.the-content-part-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.the-content-part-text-p{
    display: block;
    font-family: myFont;
    font-size: 21px;
    font-weight: 500;
    color: var(--text);
    text-align: justify;
}

/* Mission Styles */
.mission-images-box {
    display: flex;
    width: 100%;
    gap: 50px;
    margin-top: 20px;
}

.man-and-woman {
    background-image: url("../assets/images/man&woman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 605px;
    border-radius: 12px;
}

.church-settings {
    background-image: url("../assets/images/church-settings.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 605px;
    border-radius: 12px;
}

/* Vision Styles */
.vision-images-new {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}

.pastor{
    background-image: url("../assets/images/pastor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 605px;
    border-radius: 12px;
}

.commander {
    background-image: url("../assets/images/commander.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 605px;
    border-radius: 12px;
}

/* About Organization Styles */
.about-org-box {
    background-color: #0F2A44;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    width: 107%;
    color: #fff;
    display: flex;
    padding: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.about-reason-text {
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 28px;
    color: var(--light);
    font-weight: 600;
    margin-left: 16px;
}

.about-content-box {
    width: 100%;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
}



.about-org-con {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: fit-content;
    background: transparent;
}

.say-no-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: transparent;
    margin: 20px 0;
    gap: 30px;
}

.say-no-box p {
    text-align: justify;
    font-size: 21px;
    font-weight: 500;
}

.say-no-icon {
    background-image: url("../assets/images/say-no-icon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.old-man-image {
    background-image: url("../assets/images/old-man-icon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    border-radius: 12px;
}

.arms-giving {
    background-image: url("../assets/images/arms-giving.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.tailor-boy {
    background-image: url("../assets/images/tailor-boy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    border-radius: 12px;
}

.classroom-pastor {
    background-image: url("../assets/images/classroom-pastor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.military-march {
    background-image: url("../assets/images/military-march.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border-radius: 12px;
}

/* Core Values Styles, Initially known as Blogs */
.core-values-box {
    background-color: var(--light);
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    width: 107%;
    color: #fff;
    display: flex;
    padding: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-top: -60px;
}

.core-reason-text {
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 28px;
    color: var(--text);
    font-weight: 600;
    margin-left: 16px;
}

.say-no-box-caps {
    font-weight: 600;
    font-size: 40px;
    color: #000;
}   


/* Target Styling */
.about-target-box {
    background-color: #0F2A44;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    width: 107%;
    color: #fff;
    display: flex;
    padding: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-bottom: -50px;
}
.say-no-target-top-text {
    text-align: start;
    font-size: 21px;
    font-weight: 500;
    width: 85%;
}

.target-one {
    background-image: url("../assets/images/target-one.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.target-two {
    background-image: url("../assets/images/target-two.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    border-radius: 12px;
}

.target-three {
    background-image: url("../assets/images/target-three.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.target-four {
    background-image: url("../assets/images/target-four.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    border-radius: 12px;
}

.target-five {
    background-image: url("../assets/images/target-five.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 413px;
    border-radius: 12px;
}

.target-six {
    background-image: url("../assets/images/target-six.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    border-radius: 12px;
}

.new-office-content {
    background-image: url("../assets/images/Office-three-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 405px;
    border-radius: 12px;
}

.office-two-img {
    background-image: url("../assets/images/Office-two-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 405px;
    border-radius: 12px;
}

.content-box {
    width: 95%;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 50px 3%;
    justify-content: center;
    align-items: center;
}

.content-numbering {
    display: flex;
    margin: 0;
    width: 100%;
}

.number-reason-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.number-reason-item {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-reason-item p {
    font-weight: 600;
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 28px;
    color: #fff;
}

.number-reason-text {
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 28px;
    color: var(--text);
    font-weight: 600;
    margin-left: 16px;
}

.reason-content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 50px;
    justify-content: space-between;
}

.reason-title {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.reason-title h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: var(--text);
    margin: 16px 0;
}

.reason-title-two {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reason-title-two h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: var(--text);
    margin: 16px 0;
    width: 70%;
}

.growth-reason-img-box {
    width: 100%;
    height: 480px;
    border-radius: 12px;
}

.growth-reason-img {
    background-image: url("../assets/images/growth-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.growth-reason-text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 16px;
    margin-top: 80px;
}

.growth-reason-text{
    font-family: myFont;
    width: 918px;
    font-weight: 500;
    font-size: 25px;
    color: text;
    margin: 16px 0;
    padding: 5px;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.un-order-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.marks-box {
    width: 100%;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.beside-marks-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.yellow-mark {
    background-image: url("../assets/images/yellow-mark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark {
    background-image: url("../assets/images/mark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 33.75px;
    height: 33.75px;
    border-radius: 50%;
}

.mark-title {
    display: flex;
    flex-direction: column;
}

.mark-title h3 {
    font-family: myFont;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.mark-title p {
    font-family: myFont;
    font-size: 22px;
    font-weight: 500;
}

.beside-marks-box-button {
    width: 337px;
    height: 85px;
    background-color: var(--primary);
    border-radius: 12px;
    margin: 50px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beside-marks-box-button p {
    font-size: 28px;
    font: myFont;
    font-weight: 600;
}

.down-img {
    background-image: url("../assets/images/down-office.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 679px;
    border-radius: 12px;
}

.transform-content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-top: 20px;
}

.transform-content-box h1 {
    width: 80%;
    font-weight: 700;
    font-family: myFont;
    font-style: bold;
    font-size: 56px;
    color: var(--text);
    text-align: center;
    width: 100%;
}

.transform-content-box p {
    display: flex;
    width: 50%;
    font-weight: 600;
    font-family: myFont;
    font-style: bold;
    font-size: 28px;
    color: var(--primary);
}

.green-mark-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px;
    gap: 10px;
}

.green-mark {
    background-color: #4BD37B;
    width: 18.75px;
    height: 18.75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-mark {
    background-image: url("../assets/images/white-mark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 13.13px;
    height: 11.25px;
    border-radius: 50%;
}

.member-management-box {
    width: 459px;
    height: 381px;
    border-radius: 12px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.member-icon {
    background-image: url("../assets/images/member-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 29px;
}

.member-management-box-caps {
    font-weight: 600;
    font-family: myFont;
    font-style: bold;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.member-management-box-letters {
    font-weight: 600;
    font-family: myFont;
    font-size: 21px;
    color: #fff;
    text-align: center;
}

.mark-title-four {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.mark-title-four p {
    font-family: myFont;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    text-align: justify;
}

.reason-title-four {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reason-title-four h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: var(--text);
    margin: 16px 0;
}

/* Putting images on top of each other */

.down-img-our-mission-one {
    background-image: url("../assets/images/our-mission-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 640px;
    height: 661px;
    border-radius: 12px;
    position: absolute;
    transform: translate(-100px, 50px);
}

.down-img-our-mission {
    background-image: url("../assets/images/our-mission-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 640px;
    height: 661px;
    border-radius: 12px;
    position: relative;
}

/* End of Images on top of each others */

.our-vision-img-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.content-numbering-mission {
    display: flex;
    margin: 0;
    width: 100%;
}


/* Blog Styling */
.blog-content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 50px;
    justify-content: space-between;
}

.number-blog-text {
    font-family: MyOutfitFontBold, sans-serif;
    font-size: 28px;
    color: var(--primary);
    font-weight: 600;
    margin-left: 16px;
}

.mark-title-blog {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin: 0 auto;
    width: 70%;
    height: 710px;
    border-radius: 24px;
    border: 1px solid var(--text-secondary);
}

.content-box-vision {
    width: 94%;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 50px 3%;
    justify-content: center;
    align-items: center;
}

.blog-box {
    background-color: var(--light);
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    width: 107.5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
}

.blog-content-numbering {
    display: flex;
    margin: 0;
    width: 100%;
}

.number-blog-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.blog-content-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.blog-content-title h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: var(--text);
    margin: 16px 0;
}

.blog-content-outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 800px;
    justify-content: space-between;
    height: fit-content;
    gap: 20px;
}

.blog-content-outline-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: fit-content;
    justify-content: space-between;
    height: 710px;
    border: 0.5px solid var(--text-secondary);
    border-radius: 24px;
    padding: 10px;
}

.blog-content-outline-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: fit-content;
    justify-content: space-between;
    height: 710px;
    border-radius: 24px;
    overflow-y: hidden;
}

.blog-content-outline-two-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    height: 342px;
    border-radius: 24px;
    gap: 20px;
    overflow-y: hidden;
}

.blog-content-outline-two-row-plug {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    height: 342px;
    border: 0.5px solid var(--text-secondary);
    border-radius: 24px;
    padding: 10px;
}

.blog-two {
    background-image: url("../assets/images/blog-two.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 161px;
    border-radius: 24px;
}

.blog-three {
    background-image: url("../assets/images/blog-three.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 161px;
    border-radius: 24px;
}

.blog-img-one {
    background-image: url("../assets/images/blog-one.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 447px;
    border-radius: 24px;
    position: relative;
}

.blog-content-outline-one h4 {
    font-family: myFont;
    font-size: 28px;
    font-weight: 600;
    color: #000;
}

.blog-content-outline-one p {
    font-family: myFont;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.blog-img-one-letter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: baseline;
    align-items: baseline;
    margin: 10px;   
}

.clock {
    background-image: url("../assets/images/clock.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 24px;
    position: relative;
}

.clock-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.clock-box p{
    font-family: myFont;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

.blog-content-outline-grid {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    height: 342px;
    border: 0.5px solid var(--text-secondary);
    border-radius: 24px;
    padding: 10px;
}

.blog-img-one-letter-repeat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: baseline;
    align-items: baseline;
    margin: 10px;
    width: 100%;
}

.blog-img-one-letter-repeat h4 {
   font-family: myFont;
    font-size: 28px;
    font-weight: 600;
    color: var(--text);
}

.blog-img-one-letter-repeat p {
   font-family: myFont;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

.view-all-blog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.view-all-blog-container h1 {
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    color: var(--text);
    margin-bottom: 30px;
}

.view-all-blog-container p {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    font-style: bold;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}


/* Media Query */
@media (max-width: 480px ){
    .home {
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .new-home-box {
        position: relative;
        width: 95%;
        margin: 3%;
    }

    .new-home-style-image {
        background-image: url("../assets/images/home-content-image.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 612px;
        border-radius: 12px;
        display: block;
    }

    .new-home-style {
        background-color: #0052CC99;
        width: 100%;
        height: 612px;
    }
    
    .middle-images {
        width: 94%;
        height: fit-content;
        display: flex;
        align-items: center;
        margin: 30px 3%;
        border: 0;
        gap: 10px;
    }

    .home-head-text {
        width: 100%;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-head-text h1 {
        font-family: MyOutfitFontBold, sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: var(--light);
        text-align: center;
        width: 90%;
    }

    .home-body-text {
        width: 100%;
        height: 200px;
        overflow-y: hidden;
        margin-top: -10px;
        margin-bottom: -5px;
    }

    .home-body-text p {
        font-family: myFont, sans-serif;
        font-size: 18px;
        color: var(--light);
        font-weight: 500;
        line-height: 28px;
    }

    .small-white-icon-real {
        width: 6px;
        height: 6px;
        background-color: var(--light);
        border-radius: 50%;
    }

    .small-blue-icon {
        width: 14px;
        height: 14px;
        background-color: var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alhaji-img {
        background-image: url("../assets/images/Alhaji-image.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        height: 206px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;
    }

    
    .inside-alhaji-img {
        width: 121px;
        height: 105px;
        border: 1px solid #ffffffe0;
        border-radius: 12px;
        background-image: linear-gradient(
            to right, 
            rgba(124, 129, 138),
            rgb(197, 197, 197)
        );
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 25px 15px 15px 15px;
        position: absolute;
    }

    .inside-alhaji-img h2 {
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
        color: var(--light);
    }

    .inside-alhaji-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .inside-alhaji-icons p{
        font-family: myFont;
        font-weight: 300;
        font-size: 12px;
        color: var(--light);
    }

    .office-three-img {
        display: none;
    }
    
    .office-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        height: fit-content;
    }

    .new-office-content {
        background-image: url("../assets/images/Office-three-img.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 99px;
        border-radius: 12px;
    }

    .office-two-img {
        background-image: url("../assets/images/Office-two-img.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 99px;
        border-radius: 12px;
    }

    .content-box {
        width: 100%;
        height: fit-content;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -10px 1% 0 0;
    }
    
    
    .number-reason-item {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .number-reason-item p {
        font-size: 1rem;
        font-weight: 600;
        color: var(--light);
    }
    
    .number-reason-text {
        font-family: MyOutfitFontBold, sans-serif;
        font-size: 21px;
        color: var(--text);
        font-weight: 600;
        margin-left: 16px;
    }

    .the-content-part-org {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 50px;
        width: 100%;
        margin-top: 10px;
    }

    .the-content-part-org-two {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
        gap: 50px;
        width: 100%;
        margin-top: 50px;
    }

    .pray-military-img {
        background-image: url("../assets/images/pray-military.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 413px;
        border-radius: 12px;
    }

    .pray-sanctuary-img {
        background-image: url("../assets/images/pray-santury.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 413px;
        border-radius: 12px;
    }
    
    .the-content-part-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .the-content-part-text-p{
        display: block;
        font-family: myFont;
        font-size: 18px;
        font-weight: 500;
        color: var(--text);
        text-align: justify;
    }

    .content-box-vision {
        width: 100%;
        height: fit-content;
        padding: 16px;
        display: flex;
        flex-direction: column;
        margin: 10px 1% 10% 0;
        justify-content: center;
        align-items: center;
    }

    .reason-title-two {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .reason-title-two h2 {
        font-weight: 700;
        font-style: bold;
        font-size: 28px;
        color: var(--text);
        margin: 16px 0;
        width: 90%;
    }

    .mission-images-box {
        display: flex;
        width: 100%;
        gap: 10px;
        width: 100%;
        margin: 10px -55% 50px 0;
    }

    .man-and-woman {
        background-image: url("../assets/images/man&woman.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 73%;
        height: 306px;
        border-radius: 12px;
        position: absolute;
        transform: translate(-100px, 50px);
        z-index: 1;
    }
    

    .church-settings {
        background-image: url("../assets/images/church-settings.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 73%;
        height: 306px;
        border-radius: 12px;
        position: relative;
    }
    
    .transform-content-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
        margin-top: 20px;
    }

    .transform-content-box h1 {
        width: 80%;
        font-weight: 700;
        font-family: myFont;
        font-style: bold;
        font-size: 28px;
        color: var(--text);
        text-align: left;
        width: 100%;
    }

    .pastor {
        background-image: url("../assets/images/pastor.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 73%;
        height: 306px;
        border-radius: 12px;
        position: relative;
    }
    

    .commander {
        background-image: url("../assets/images/commander.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 73%;
        height: 306px;
        border-radius: 12px;
        position: absolute;
        transform: translate(-100px, 50px);
        z-index: 1;
    }

    .vision-images-new {
        display: flex;
        width: 100%;
        gap: 10px;
        width: 100%;
        margin: 30px -55% 80px 0;
    }
    
    .about-org-box {
        background-color: #0F2A44;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        width: 106%;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: -10px;
        padding: 50px 7% 20px 6%;
    }

    .about-org-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        background: transparent;
    }

    .about-reason-text {
        font-family: MyOutfitFontBold, sans-serif;
        font-size: 24px;
        color: var(--light);
        font-weight: 600;
        margin-left: 16px;
    }
}