.atlasPaymentOverlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3000;

  backdrop-filter: blur(4px);
}

.atlasPaymentModal {
  width: 520px;
  max-width: 95%;

  background: #fff;

  border-radius: 18px;

  padding: 22px;

  box-shadow: 0 25px 60px rgba(0,0,0,0.15);
}

.atlasPaymentHeader {
  display: flex;
  align-items: center;

  margin-bottom: 22px;

  position: relative;
}

.atlasPaymentAccent {
  width: 18px;
  height: 3px;

  background: #2f66ff;

  border-radius: 50px;

  margin-right: 10px;
}

.atlasPaymentHeader h2 {
  font-size: 28px;
  font-weight: 700;

  color: #222;
}

.atlasPaymentClose {
  margin-left: auto;

  border: none;
  background: transparent;

  cursor: pointer;

  color: #888;
}

.atlasAddPaymentBtn {
  width: 100%;
  height: 58px;

  border: 1px dashed #d9d9d9;

  border-radius: 12px;

  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  cursor: pointer;

  color: #555;
  font-size: 14px;
  font-weight: 500;
}

.atlasSecurityInfo {
  margin-top: 28px;

  display: flex;
  gap: 10px;

  color: #25a55b;
}

.atlasSecurityInfo h4 {
  font-size: 13px;
  margin-bottom: 4px;

  color: #222;
}

.atlasSecurityInfo p {
  font-size: 11px;
  line-height: 1.6;

  color: #9b9b9b;
}

.atlasSaveButton {
  width: 100%;
  height: 52px;

  margin-top: 28px;

  border: none;

  background: #185656;

  color: white;

  font-size: 15px;
  font-weight: 600;

  border-radius: 10px;

  cursor: pointer;
}