.novaNavbar {
  height: 80px;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 48px;
}

.novaLogo {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.novaNavLinks {
  display: flex;
  gap: 40px;
}

.novaNavLinks a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.novaAuthButtons {
  display: flex;
  gap: 12px;
}

.novaLoginBtn,
.novaRegisterBtn {
  border: 1px solid rgba(255,255,255,.4);

  padding: 16px 32px;
  border-radius: 10px;

  color: white;
  text-decoration: none;
}

.novaMenuButton {
  display: none;
  background: none;
  border: none;
  color: white;
}

/* Mobile Drawer */

.novaMobileMenu {
  position: fixed;
  inset: 0;
  background: white;

  transform: translateX(-100%);
  transition: .3s ease;

  z-index: 999;
}

.novaMobileMenuOpen {
  transform: translateX(0);
}

.novaMobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px;
}

.novaMobileLogo {
  font-size: 42px;
  font-weight: 700;
  color: #0f5c56;
  text-decoration: none;
}

.novaMobileHeader button {
  border: none;
  background: none;
}

.novaMobileLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 60px 24px;
}

.novaMobileLinks a {
  text-decoration: none;
  font-size: 32px;
  color: #101828;
  font-weight: 500;
}

.novaMobileActions {
  display: flex;
  gap: 20px;

  padding: 24px;
}

.novaMobileLogin,
.novaMobileRegister {
  flex: 1;

  border: 1px solid #94a3b8;
  border-radius: 14px;

  text-align: center;
  text-decoration: none;

  padding: 18px;
  color: #101828;
  font-size: 20px;
}

/* Responsive */

@media (max-width: 768px) {

  .novaNavbar {
    background: transparent;
    padding: 0 24px;
  }

  .novaLogo {
    color: #fff;
  }

  .novaNavLinks,
  .novaAuthButtons {
    display: none;
  }

  .novaMenuButton {
    display: block;
    color: #fff;
  }
}