.galaxyInfoCard {
  background: #185656;

  color: white;

  border-radius: 18px;

  padding: 24px;
}

.galaxyInfoTitle {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 22px;
}

.galaxyInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 18px;

  font-size: 14px;
}

.galaxyInfoRow strong {
  font-size: 14px;
  font-weight: 600;
}