.stellarEventDetailsWrapper {
  width: 100%;
  padding: 30px;
}

.stellarEventBreadcrumb {
  font-size: 11px;
  font-weight: 700;
  color: #7f8792;

  letter-spacing: 1px;

  margin-bottom: 18px;
}

.stellarEventTopGrid {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-bottom: 24px;
}

.stellarEventRightColumn {
    width: 50%;
}

.stellarEventBottomGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.stellarEventSidebar {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 1100px) {
  .stellarEventTopGrid,
  .stellarEventBottomGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .stellarEventTopGrid {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
  }

  .stellarEventRightColumn {
    width: 100%;
    margin-top: 30px;
  }

  .stellarEventAboutSection-small {
    display: none;
  }
  
}